@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Alex+Brush&family=Averia+Serif+Libre:wght@300&family=Babylonica&family=Ballet:opsz@16..72&family=Bangers&family=BhuTuka+Expanded+One&family=Caveat+Brush&family=Chela+One&family=Cherish&family=Cinzel+Decorative&family=Combo&family=Comfortaa&family=Dancing+Script&family=Dawning+of+a+New+Day&family=Gloria+Hallelujah&family=Great+Vibes&family=Henny+Penny&family=Kalam:wght@700&family=Kaushan+Script&family=Langar&family=Leckerli+One&family=Lobster&family=Luckiest+Guy&family=Meddon&family=Mogra&family=Monoton&family=Mountains+of+Christmas&family=My+Soul&family=Mystery+Quest&family=Nova+Script&family=Oleo+Script+Swash+Caps&family=Oooh+Baby&family=Oregano&family=Pacifico&family=Parisienne&family=Playball&family=Poiret+One&family=Press+Start+2P&family=Rock+Salt&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Puddles&family=Sacramento&family=Satisfy&family=Send+Flowers&family=Shadows+Into+Light&family=Shizuru&family=Special+Elite&family=Square+Peg&family=Supermercado+One&family=Syne+Tactile&family=UnifrakturCook&family=Updock&family=Vampiro+One&family=Water+Brush&family=Yellowtail&family=Zen+Loop&display=swap');

.changeFont{
    font-family: 'Akronim', cursive;
    font-family: 'Alex Brush', cursive;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Babylonica', cursive;
    font-family: 'Ballet', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Chela One', cursive;
    font-family: 'Cherish', cursive;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Combo', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dawning of a New Day', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Henny Penny', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Langar', cursive;
    font-family: 'Leckerli One', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Meddon', cursive;
    font-family: 'Mogra', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Mystery Quest', cursive;
    font-family: 'Nova Script', cursive;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oooh Baby', cursive;
    font-family: 'Oregano', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Playball', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rock Salt', cursive;
    font-family: 'Rubik Microbe', cursive;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Rubik Puddles', cursive;
    font-family: 'Sacramento', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Send Flowers', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Shizuru', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Square Peg', cursive;
    font-family: 'Supermercado One', cursive;
    font-family: 'Syne Tactile', cursive;
    font-family: 'UnifrakturCook', cursive;
    font-family: 'Updock', cursive;
    font-family: 'Vampiro One', cursive;
    font-family: 'Water Brush', cursive;
    font-family: 'Yellowtail', cursive;
    font-family: 'Zen Loop', cursive;
}