*{
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #181a1b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    /* background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0), rgb(8, 148, 166) 14%, rgb(73, 20, 167) 28%, rgb(8, 148, 166) 84%, rgba(0, 157, 163, 0)); */
    background-color: #04AA6D;
    font-weight: bold;
    padding: 5px 20px;
}
.header .logo{
    display: flex;
    font-family: 'YellowTail';
    font-stretch: extra-expanded;
    font-size: 25px;
    cursor: pointer;
}

.header img{
    width: 50px;
    height: 50px;
}
.header p{
    padding: 10px;
}
.header button{
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    border-color: transparent;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
.header button:hover{
    background-color: rgba(0,0,0,0.2);
}
.header-nav{
    display: flex;
    gap: 100px;
}
.header .icons{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.icons img{
    height: 25px;
    width: 25px;
}

.procedure{
    background-image: linear-gradient(45deg,lightGreen, #04AA6D, lightGreen);
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.procedure-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
    padding: 10px;
    
}
.procedure-items li{
    list-style: decimal;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.procedure-items li:hover{
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
}

/* main */
.main{
    display: grid;
    grid-template-columns: 43% auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    height: 80%;
}
.left-bar{
    position: relative;
    color: whitesmoke;
    
}
.designs, .personalize, .preview, .download{
    /* border: 1px solid gray; */
    position: absolute;
    width: 100%;
    visibility: hidden;
}
.designs li img:hover{
    border: 4px solid #04AA6D;
}
.designs li:hover{
    padding: 15px;
    cursor: pointer;
}
.next{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    margin-top: 100px;
}
.next:hover{
    background-color: whitesmoke;
    color: #04AA6D;
    border-color: #04AA6D;
    font-weight: bolder;
    border-width: 3px;
}

.perso-items{
    display: flex;
    margin: 20px;
    gap: 10px;
}
.perso-items .perso-title{
    width: 100px;
    text-align: left;
}

.perso-items p{
    padding-top: 5px;
}
.perso-items select{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
.perso-items option{
    background-color: transparent;
    color: black;
}

.align-icons img{
    height: 20px;
    width: 20px;
    padding: 5px;
}
.perso-items input{
    height: 25px;
    width: 50px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border-color: gray ;
}


/* preview */
.preview button{
    margin: 10px;
}


.additional-text{
    padding: 5px;
    margin: 3px;
}
.additional-elements{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.additional-elements p{
    padding: 5px;
    margin: 5px;
}
.additional-elements input{
    height: 25px;
    width: 50px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border-color: gray;
    margin: 10px;
}
.additional-elements input[type='file']{
    width: auto;
}
.additional-elements input[type='file']::-webkit-file-upload-button{
    background-color: transparent;
    border-radius: 5px;
    color: whitesmoke;
    padding: 2px;
    border-color: gray;
    height: 25px;
}

.additionalText, .additionalImage{
    height: 300px;
    width: auto;
    overflow: auto;

}


.cert-formats{
    display: grid;
    grid-template-columns: auto auto;
}
.cert-formats li{
    list-style-type: none;
    padding: 20px;
}
.cert-formats img{
    height: 200px;
    width: 300px;
}

.certi{
    /* border: 2px solid gray; */
    color: gray;
    /* margin-left: 50px; */
}
.frame{
    background-image: url("../assets/layouts/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 707px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    position: relative;
    visibility: hidden;
}

.frame input{
    position: absolute;
    padding: 10px;
    margin: 5px;
    max-width: 1000px;
    max-height: 707px;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    color: #606060;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.frame input:active{
    border-color: transparent;
    outline: none;
}
.frame textarea{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    overflow: visible;
    color: #606060;
}

.frame #hashvalue{
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
}
#title{
    left: 350px;
    bottom: 540px;
}
#action{
    left: 330px;
    bottom: 500px;
    width: 60%;
}
#receiver{
    left: 470px;
    bottom: 310px;
}
#reason{
    position: absolute;
    left: 300px;
    bottom: 240px;
}
#date{
    left: 210px;
    bottom: 90px;
}


/* footer */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    background-color: #04AA6D;
    /* background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0), rgb(8, 148, 166) 14%, rgb(73, 20, 167) 28%, rgb(8, 148, 166) 84%, rgba(0, 157, 163, 0)); */
    font-weight: bold;
    padding: 2px 10px;
}
.footer .icons{
    display: flex;
    gap: 10px;
    padding-top: 2px;
}
.footer p{
    padding-top: 5px;
    padding-right: 15px;
}